/*
============================================
; Title:  sqrt-examples.css 
; Author: Professor Krasso
; Date:   27 March 2023 
; Description: Styling for the Square Root example
;===========================================
*/

#container {
    width: 600px;
    margin: 3% auto 0;
}

#results {
    border: 1px solid #ccc;
}

h3 {
    font-size: 2em; 
    text-align: center;
    font-weight: 400;
}

#sqrt-results {
    text-align: center;
    font-size: 28px;
}
