/*  JavaScript 7th Edition
    Chapter 7
    Chapter Case

    Filename: styles.css
*/

/* apply a natural box layout model to all elements */
* {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/* reset rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}

body {
   line-height: 1;
   width: 1000px;
   background: white;
   margin: 0 auto;
   font-family: Arial, Helvetica, sans-serif; 
}

ol, ul {
   list-style: none;
}


/* Styles for this Project */

html {
   font-family: Verdana, Geneva, sans-serif;
   font-size: 12px;
   color: rgb(101, 101, 101);
}

header img {
   display: block;
   width: 500px;
   margin: 0 auto;
}

article#wc_intro {
   margin-bottom: 25px;
   margin-top: -40px;
}
article#wc_intro h1 {
   font-size: 2.4em;
   text-align: left;
   margin-bottom: 10px;
}

article#wc_intro p {
   font-size: 1.5em;
   margin-bottom: 20px;
}

article#wc_intro label {
   font-size: 1.4em;
   display: inline-block;
   margin-right: 10px;
}

article#wc_intro input#getFile {
   display: inline-block;
   font-size: 1.4em;
   margin: 0 10px;
}

div#wc_output {
   display: flex;
   flex-flow: row nowrap;
   margin-bottom: 30px;
   align-items: center;
}

/* Source document Styles */
div#wc_output article#wc_document {
   flex: 1 1 500px;
   height: 540px;
   overflow: scroll;
   padding: 10px 20px;
}

div#wc_output article#wc_document {
   font-size: 1em;
   background-color:antiquewhite;
   font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}

div#wc_output article#wc_document h1 {
   font-size: 1.6em;
   margin-bottom: 15px;
   font-weight: bold;
}

div#wc_output article#wc_document p {
   font-size: 1.2em;
   margin-bottom: 15px;
}



/* Styles applied to the word cloud box */
div#wc_output aside#wc_cloud {
   display: flex;
   align-items: center;
   flex-flow: row wrap;
   flex: 1 1 350px;
   min-height: 540px;
   background: rgb(182,207,221) radial-gradient(circle closest-side, rgba(161, 101, 101, 0.6), rgba(101, 101, 101, 0));
   padding: 10px;
   text-align: justify;
}

/* Default font size of the most-used word */
div#wc_output aside#wc_cloud {
   font-size: 64px;
}

/* Styles applied to the word cloud words */
div#wc_output aside#wc_cloud span {
   display: inline-block;
   margin: 0px 4px;
}

