/*  JavaScript 7th Edition
    Chapter 2
    Chapter case

    Fan Trick Fine Art Photography
    Handheld style sheet

    Filename: fthand.css
*/


/* apply a natural box layout model to all elements */
* {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/* reset rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}

body {
   line-height: 1;
   max-width: 960px;
   background: #EFE0B9;
   margin: 0 auto;
   font-family: Verdana, Geneva, sans-serif; 
   position: relative;
}

ol, ul {
   list-style: none;
}

blockquote, q {
   quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

a:link, a:visited {
   text-decoration: none;
   color: inherit;
}

a:hover {
   text-decoration: underline;
   color: inherit;
}

a:active {
   text-decoration: none;
   color: inherit;
}

/* container */
#container {
   background: #643B0F;
}

/* page header */
header {
   background: white;
   font-size: 48px;
   text-align: center;
}

header img {
   max-width: 100%;
}

/* navigation */
nav {
   font-size: 16px;
   font-family: "Mr Bedfort", cursive;
   background: white;
   clear: left;
}

nav ul {
   text-align: center;
}

nav ul li {
   display: inline-block;
   padding: 8px;
   margin: 0 1px;
   background: #EFE0B9;
   -moz-border-radius-topleft: 7px;
   -moz-border-radius-topright: 7px;
   -webkit-border-top-left-radius: 7px;
   -webkit-border-top-right-radius: 7px;
   border-top-left-radius: 7px;
   border-top-right-radius: 7px;
   -webkit-box-shadow: 2px -2px 0px #643B0F,
                       2px 0px 0px #643B0F;
   -moz-box-shadow:    2px -2px 0px #643B0F,
                       2px 0px 0px #643B0F;
   box-shadow:         2px -2px 0px #643B0F,
                       2px 0px 0px #643B0F;
}

nav ul #currentPage {
   background: #643B0F;
   color: white;
}

/* main content */
article {
   text-align: left;
   background: white;
   padding: 10px;
   border-top: 1px solid #643B0F;
}

article h2 {
   font-size: 1.2em;
   font-weight: bold;
   text-align: center;
   margin-bottom: 6px;
}

article p {
   margin-bottom: 6px;
   line-height: 1.2em;
}

article table {
   margin: 0 auto;
}

article th, article td {
   border: 1px solid black;
   border-collapse: collapse;
   padding: 5px;
}

article th {
   font-weight: bold;
   background: #EFE0B9;
}

/* form */

form {
   margin: 0 auto;
   width: 100%;
}

form fieldset{
   border: none; 
   background: #EFE0B9;
   position: relative;
   padding-top: 25px;
}

form legend {
   font-size: 1.5em;
   font-weight: bold;
   margin: 10px;
}

form legend span {
   position: relative;
   top: 20px;
}

form label {
   display: block;
   font-size: 1.2em;
   margin-right: 3.5em;
   text-align: right;
}
form label p {
   float: left;
   text-align: right;
   width: 100%;
}

form label p:nth-child(2) {
   font-size: 0.8em;
}

form input {
   padding: 1%;
   background: #333;
   color: #BBB;
   border: none;
   font: normal 1em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
   float: right;
   clear: both;
   width: 3em;
   margin-left: 10px;
   margin-bottom: 20px;
}

form input[type="checkbox"] {
   position: static;
}

/* sidebar */
aside {
   background: white;
   padding: 10px;
}

aside p {
   background: #EFE0B9;
   border: 5px solid #643B0F;
   padding: 10px;
   text-align: right;
   font-size: 1.2em;
}

aside #estimate {
   font-weight: bold;
}

/* footer */
footer {
   background: white;
   width: 100%;
   clear: both;
   font-size: 14px;
   padding: 10px;
}

footer p {
   text-align: center;
}