/*  JavaScript 7th Edition
    Chapter 1
    Chapter case

    Tinley Xeriscapes
    Large format style sheet
    Author: 
    Date:   

    Filename: tinley.css
*/

/* apply a natural box layout model to all elements */
* {
   box-sizing: border-box;
}

/* reset rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}

body {
   line-height: 1;
   max-width: 960px;
   background: white;
   margin: 0 auto;
   font-family: Verdana, Geneva, sans-serif; 
}

ol, ul {
   list-style: none;
}

blockquote, q {
   quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

a:link, a:visited {
   text-decoration: underline;
   color: inherit;
}

a:hover {
   text-decoration: underline;
   color: inherit;
}

a:active {
   text-decoration: none;
   color: inherit;
}

/* container */
#container {
   background: rgb(50,34,99);
}

/* page header */
header {
   background: rgb(50,34,99);
   width: 100%;
   font-family: 'Lily Script One', cursive;
   color: rgb(13,177,75);
   font-size: 84px;
   text-align: right;
   padding-right: 20px;
   position: relative;
}

header #logo1 {
   position: absolute;
   top: -8px;
   left: 0px;
   -webkit-transform: scale(0.8);
   -moz-transform: scale(0.8);
   -o-transform: scale(0.8);
   writing-mode: lr-tb;    
}
header #logo2 {
   position: absolute;
   top: 25px;
   left: 54px;
   -webkit-transform: scale(0.6);
   -moz-transform: scale(0.6);
   -o-transform: scale(0.6);
   writing-mode: lr-tb;
}
header #logo3 {
   position: absolute;
   top: 0;
   left: 150px;
}

/* navigation */
nav {
   background: rgb(50,34,99);
   width: 100%;
   font-size: 16px;
}

nav ul {
   margin-left: 320px;
   text-align: center;
}

nav ul li {
   display: inline-block;
   padding: 10px 15px;
   background: rgb(164,191,150);
   -moz-border-radius-topleft: 7px;
   -moz-border-radius-topright: 7px;
   -webkit-border-top-left-radius: 7px;
   -webkit-border-top-right-radius: 7px;
   border-top-left-radius: 7px;
   border-top-right-radius: 7px;
}

nav ul #currentpage {
   background: rgb(13,177,75);
}

/* sidebar */
aside {
   width: 320px;
   float: left;
   background: rgb(13,177,75);
}

aside ul {
   padding: 20px;
}

aside ul li {
   padding: 10px;
   font-size: 24px;
   cursor: pointer;
}

aside ul li:hover {
   color: rgb(164,191,150);
   background: rgb(50,34,99);
}

/* main content */
article {
   width: 640px;
   float: right;
   text-align: center;
}

article figure figcaption p {
   font-size: 16px;
   color: rgb(164,191,150);
   padding: 10px 0;
}

article figure figcaption p a:link {
   color: rgb(13,177,75);
}

/* remove blank space for descenders below image */
article figure img {
   display: block;
}

/* footer */
footer {
   background: rgb(164,191,150);
   width: 100%;
   clear: both;
   font-size: 14px;
   padding: 10px;
}

footer p {
   text-align: center;
}